.itemCart {
    width: 80%;
    height: 10rem;
    padding: 2px 15px;
    margin: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #666;
    border-radius: 10px;
}

.itemCartImg {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 9rem;
}

.itemCartImg img {
    align-self: center;
    height: 100%;
    object-fit: contain;
}

.itemCartDescription {
    width: 50%
}

.itemCartResume {
    width: 33%;
    display: flex;
    height: 55px;
}

.itemCartResume div {
    width: 25%;
}

.itemCartResume div p {
    margin: 5px;
}

.itemCartResume div h5 {
    margin: 5px;
}

.buttonDelete {
    width: 60px;
    height: 50px;
    color: whitesmoke;
    font-weight: bold;
    background-color: #555;
    border: 0;
}

.btn:hover {
    background-color: #333;
}

.btn:disabled {
    background-color: #999;
}